* {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background-image: linear-gradient(315deg, rgba(145, 0, 255, 1) 10%, rgba(0, 5, 255, 1) 20%, rgba(0, 255, 252, 1) 40%, rgba(0, 159, 255, 1) 50%, rgba(0, 255, 252, 1) 60%, rgba(0, 5, 255, 1) 80%, rgba(145, 0, 255, 1) 90%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    /* Displaying nav and main in a row */
}

main {
    flex: 1;
    /* Take remaining space */
    position: relative;
    z-index: 1;
}

.sidebar {
    border: none;
    z-index: 2;
    width: 200px;
    /* Adjust width as needed */
    flex-direction: column;
    /* Display items in a column */
    min-height: 100vh;
    background-color: transparent;
}

.small-carousel {
    max-width: 300px;
    margin: 0 auto;
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

.dashboard-pic {
    width: 50%;
}
